.template-list__inner {
  width: 48%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.18);
  border-radius: 1.481vw;
  margin-bottom: 3.556vw;

  @include mobile {
    width: 100%;
    margin-bottom: 20px;
  }
}

.template-list__contents {
  padding: 2.222vw 2.37vw;

  @include mobile {
    padding: 15px 5%;
  }
}

.template-list__info {
  padding-bottom: 0.593vw;
}

.template-list__title {
  font-size: 1.63vw;
  margin-bottom: 0.593vw;

  @include mobile {
    font-size: 18px;
  }
}

.template-list__text {
  font-size: 1.185vw;

  @include mobile {
    font-size: 15px;
  }
}

.template-list__textarea {
  padding-top: 0.593vw;
}

.demo-btn {
  text-align: center;
  margin: 10px auto 10px;
  background: cl(navy);
  width: 60%;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
}

.demo-btn__link {
  color: cl(white);
  font-size: 16px;
  text-align: center;
  display: block;
}

.template-catch__text {
  font-size: 1.63vw;
  margin-bottom: 3.556vw;

  @include mobile {
    font-size: 15px;
    margin-bottom: 40px;
  }
}

.template-haihu__title {
  font-size: 1.778vw;
  margin-bottom: 3.556vw;

  @include mobile {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
