.template-list__inner {
  width: 48%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.18);
  border-radius: 1.481vw;
  margin-bottom: 3.556vw;
}

.template-list__contents {
  padding: 2.222vw 2.37vw;
}

.template-list__info {
  padding-bottom: 0.593vw;
}

.template-list__title {
  font-size: 1.63vw;
  margin-bottom: 0.593vw;
}

.template-list__text {
  font-size: 1.185vw;
}

.template-list__textarea {
  padding-top: 0.593vw;
}

.demo-btn {
  text-align: center;
  margin: 10px auto 10px;
  background: #203744;
  width: 60%;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
}

.demo-btn__link {
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: block;
}

.template-catch__text {
  font-size: 1.63vw;
  margin-bottom: 3.556vw;
}

.template-haihu__title {
  font-size: 1.778vw;
  margin-bottom: 3.556vw;
}
