footer {
  background: cl(navy);
  padding: 15px 0;
  @include mobile {
    padding: 10px 0;
  }
}

.copyright {
  font-size: 0.963vw;
  text-align: center;
  color: cl(white);
  @include mobile {
    font-size: 10px;
  }
}
