header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 6.296vw;
  line-height: 6.296vw;
  @include mobile {
    height: 65px;
    line-height: 65px;
  }
}

.bigcontents {
  max-width: 96.296vw;
  margin: 0 auto;
  @include mobile {
    width: 90%;
  }
}

.header-logo {
  font-size: 2.341vw;
  width: 3%;
  font-weight: bold;
  color: #203744;
  min-width: 200px;
  margin-right: 2%;

  text-decoration: none;
}

//ハンバーガーメニューの対応
#global-nav {
  width: 80%;
  @include mobile {
    background: #fff;
    color: #d32c25;
    position: fixed;
    max-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    li {
      opacity: 1;
      transform: translateX(0);
      transition: transform 1s ease, opacity 0.9s ease;
    }
  }
}

#nav-toggle {
  @include mobile {
    position: absolute;
    top: 22px;
    right: 5%;
    height: 18px;
    cursor: pointer;
    z-index: 1000;
    div {
      position: relative;
      width: 24px;
    }
  }
}

.toggle {
  @include mobile {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #111210;
    position: absolute;
    transition: transform 0.6s ease-in-out, top 0.5s ease;
    &:nth-child(1) {
      top: 0;
      .open {
        transform: rotate(45deg);
      }
    }
    &:nth-child(2) {
      top: 9px;
      .open {
        top: 9px;
        width: 0;
        left: 50%;
      }
    }
    &:nth-child(3) {
      top: 18px;
      .open {
        top: 9px;
        transform: rotate(-45deg);
      }
    }
  }
}

.toggle.open {
  &:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    top: 9px;
    width: 0;
    left: 50%;
  }
  &:nth-child(3) {
    top: 9px;
    transform: rotate(-45deg);
  }
}

.header-nav__list {
  margin: 0 1.111vw;
  padding: 1.481vw 0 0;
  text-align: center;
  line-height: 1.5;

  @include mobile {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
  }
}

.header-nav__link {
  font-size: 0.93vw;
  @include mobile {
    font-size: 13px;
  }
}

.nav-en {
  font-size: 1.037vw;
  display: block;
  font-weight: bold;
  color: #203744;
}

.nav-btn {
  padding: 0.889vw 3.333vw;
  font-size: 1.111vw;
  border-radius: 2.963vw;
  display: block;
  background: linear-gradient(90deg, #e3eeff, #f3e7e9);

  @include mobile {
    padding: 12px 45px;
    font-size: 15px;
    border-radius: 40px;
    font-weight: bold;
    transition: all 0.3s;
  }
}

.header-nav {
  @include mobile {
    list-style: none;
    width: 90%;
    margin: 0px auto 0;
    overflow: auto;
    height: auto;
  }
}

#global-nav.open {
  visibility: visible;
  opacity: 1;
}

.scroll-fix {
  overflow: hidden;
}
